.price-text {
    color : #531E89;
    font-weight: 500;
    font-size: 2.2rem;
}

.key {
    color: #AAAAAA;
    font-size: 0.8rem;
}

.value {
    font-weight: 500;
}

.property-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desc-text {
    color: #2D2D2D;
    font-weight: 400;
}