<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Expense Manager</span>
    <div class="ms-auto d-flex">
        <button  *ngIf="notifications.length>0" mat-icon-button (click)="openNotificationsDialog()">
            <mat-icon   [matBadge]="notifications.length" matBadgeColor="accent">notifications_none</mat-icon>
        </button>
        <button *ngIf="notifications.length==0" mat-icon-button (click)="openNotificationsDialog()">
            <mat-icon matBadgeColor="accent">notifications_none</mat-icon>
        </button>
        <button mat-icon-button (click)="openLougOutDialog()">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav opened position="start">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>